### Temp files ###
nohup.out
*.[oa]
*.pyc
*.*~
*.s
*.swp
cscope.out

### CLion project files ###
*.tgz
.idea/

### Firmware files ###
wbsl.elf
wbsl.txt

### Build directories ###
doc
build
_build
cmake-build-debug

### make artifacts ###
wbsl.map
wbsl.dep
wbsl.dep.bak
wbsl.cflags
